// global reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // line-height: 1.6;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;

  // font-size: 62.5%;
}
